 #wrapper {
     width: 960px;
     margin-left: auto;
     margin-right: auto;
     padding-top: 5%;
 }

 #articles {
     display: inline-block;
     overflow: auto;
     width: 60%;
     height: 700px;
 }

 #notes {
     float: right;
     width: 30%;
 }

 .btn {
     background-color: red;
     color: white;
 }

 .nav-link {
     color: white;
 }

 .navbar {
     height: 70px;
 }

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1, h3{
    color: #007bff;
}

 h4 {
     color: white;
 }

 textarea,
 input {
     display: block;
     width: 100%;
     background-color: #FCF5C7;
 }

 input {
     height: 36px;
     font-size: 24px;
 }

 textarea {
     height: 200px;
     font-size: 18px;
 }